.properties-panel {
    border: 5px solid gray;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
}
.fields {
    text-align: right;
}
.fields input {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.fields input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.panelDeviceProperty {
    text-align: left;
}
