<div class="properties-panel">
    <h2>Node Properties</h2>
        <div id="generalPropertyPanel" class="fields">
            <label for="key">Node Key:</label>
            <input id="key" [(ngModel)]="nodeProperties.key" name="key" disabled/><br>
            <label for="left">X Position:</label>
            <input id="left" [(ngModel)]="nodeProperties.left" name="left" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
            <label for="top">Y Position:</label>
            <input id="top" [(ngModel)]="nodeProperties.top" name="top" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
            <label for="width">Node Width:</label>
            <input id="width" [(ngModel)]="nodeProperties.width" name="width" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)" /><br>
            <label for="height">Node Height:</label>
            <input id="height" [(ngModel)]="nodeProperties.height" name="height" type="number"  #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
            <label for="label">Node Label:</label>
            <input id="label" [(ngModel)]="nodeProperties.label" name="label" type="text"  #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
            <label for="color">Node Color:</label>
            <input id="color" [(ngModel)]="nodeProperties.color" name="color" type="text" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/>
        </div>
        <div id="numericEntryProperty" class="fields" style="display: none;">
            <h3 style="text-align: center;">Numeric Entry</h3>
                <label style="text-align: left; display: block; cursor: pointer;" for="animationList-check"><b>Animation</b></label>
                <input id="animationList-check" type="checkbox">
                <div class="animation-list">
                    <ul class="propertylist">
                        <li><label>Height Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Horizontal Position Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Vertical Position Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Visibility Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Width Tag:</label>
                            <input/><br>
                        </li>
                    </ul>
                </div>
                <label style="text-align: left; display: block; cursor: pointer;" for="appearanceList-check"><b>Appearance</b></label>
                <input id="appearanceList-check" type="checkbox">
                <div class="appearance-list">
                    <ul class="propertylist">
                        <li><label>Alignment:</label>
                            <input/><br>
                        </li>
                        <li><label for="color">Background Color:</label>
                            <input id="color" [(ngModel)]="nodeProperties.color" name="color" type="text" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                        <li><label>Background Fill Color:</label>
                            <input/><br>
                        </li>
                        <li><label>Background Fill Style:</label>
                            <input/><br>
                        </li>
                        <li><label>Border Color:</label>
                            <input/><br>
                        </li>
                        <li><label>Border Style:</label>
                            <input/><br>
                        </li>
                        <li><label>Border Width:</label>
                            <input/><br>
                        </li>
                        <li><label>Border Width:</label>
                            <input/><br>
                        </li>
                        <li><label>Corner Radius:</label>
                            <input/><br>
                        </li>
                        <li><label>Font Bold:</label>
                            <input/><br>
                        </li>
                        <li><label>Font Italic:</label>
                            <input/><br>
                        </li>
                        <li><label>Font Name:</label>
                            <input/><br>
                        </li>
                        <li><label>Font Size:</label>
                            <input/><br>
                        </li>
                        <li><label>Font Underline:</label>
                            <input/><br>
                        </li>
                        <li><label>Shape:</label>
                            <input/><br>
                        </li>
                        <li><label>Text Color:</label>
                            <input/><br>
                        </li>
                        <li><label>Use Background Color for Border:</label>
                            <input/><br>
                        </li>
                        <li><label>Word Wrap:</label>
                            <input/><br>
                        </li>
                    </ul>
                </div>
                <label style="text-align: left; display: block; cursor: pointer;" for="commonList-check"><b>Common</b></label>
                <input id="commonList-check" type="checkbox">
                <div class="common-list">
                    <ul class="propertylist">
                        <li><label>Description:</label>
                            <input/><br>
                        </li>
                        <li><label for="height">Height:</label>
                            <input id="height" [(ngModel)]="nodeProperties.height" name="height" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                        <li><label for="left">Left:</label>
                            <input id="left" [(ngModel)]="nodeProperties.left" name="left" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                        <li><label for="label">Name:</label>
                            <input id="label" [(ngModel)]="nodeProperties.label" name="label" type="text" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                        <li><label for="top">Top:</label>
                            <input id="top" [(ngModel)]="nodeProperties.top" name="top" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                        <li><label for="width">Width:</label>
                            <input id="width" [(ngModel)]="nodeProperties.width" name="width" type="number" #myinput (keyup.enter)="onTopEnter(myinput.value)" (blur)="onTopEnter(myinput.value)"/><br>
                        </li>
                    </ul>
                    </div>
                    <label style="text-align: left;  display: block; cursor: pointer;" for="connectionsList-check"><b>Connections</b></label>
                    <input id="connectionsList-check" type="checkbox">
                    <div class="connections-list">
                    <ul class="propertylist">
                        <li><label>Handshake Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Indicator Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Notify Tag:</label>
                            <input/><br>
                        </li>
                        <li><label>Timeout:</label>
                            <input/><br>
                        </li>
                        <li><label>Write Tag:</label>
                            <input/><br>
                        </li>
                    </ul>
                    </div>
                    <label style="text-align: left; display: block; cursor: pointer;" for="formatList-check"><b>Format</b></label>
                    <input id="formatList-check" type="checkbox">
                    <div class="format-list">
                    <ul class="propertylist">
                        <li><label>Decimal Point:</label>
                            <input/><br>
                        </li>
                        <li><label>Group Separator:</label>
                            <input/><br>
                        </li>
                        <li><label>Keypad Type:</label>
                            <input/><br>
                        </li>
                        <li><label>Maximum Value:</label>
                            <input/><br>
                        </li>
                        <li><label>Minimum Value:</label>
                            <input/><br>
                        </li>
                        <li><label>Negative Number Formats:</label>
                            <input/><br>
                        </li>
                        <li><label>Number of Decimal Places:</label>
                            <input/><br>
                        </li>
                        <li><label>Numeric Field Width:</label>
                            <input/><br>
                        </li>
                    </ul>
                    </div>

                    <label style="text-align: left; display: block; cursor: pointer;" for="navigationList-check"><b>Navigation</b></label>
                    <input id="navigationList-check" type="checkbox">
                    <div class="navigation-list">
                    <ul class="propertylist">
                        <li><label>Accept Foucs:</label>
                            <input/><br>
                        </li>
                        <li><label>Enable Touch:</label>
                            <input/><br>
                        </li>
                        <li><label>Enable Touch Indication:</label>
                            <input/><br>
                        </li>
                        <li><label>Function Key:</label>
                            <input/><br>
                        </li>
                        <li><label>Touch Indication Color:</label>
                            <input/><br>
                        </li>
                        <li><label>Touch Indication Width:</label>
                            <input/><br>
                        </li>
                    </ul>
                    </div>
        </div>
        <div class="button-section">
            <button (click)="addNewNode()">Add new node</button>
            <button (click)="updateNewNode()">Update node</button>
        </div>
        <div class="button-toolbox">
            <button (click)="numericEntry()">Numeric Entry</button>
            <button (click)="addNewNode()">Numeric Display</button>
            <button (click)="addNewNode()">Key</button>
            <button (click)="addNewNode()">Momentary Push Button</button>
        </div>
  </div>